<div class='post'>
    <div class='post-head'><span class='post-title'>Title: <b>{{title}}</b></span><span class='post-author'> Author: {{user.name}} <b></b></span></div>
    <div class='post-content'>{{description}}</div>
    <div class='read_more'><a href='/post/{{id}}'>Read More</a></div>
    <div class='post-footer'><span>Comments: {{comments_count}} <i class='glyphicon glyphicon-pencil'></i></span><span> Likes: {{likes_count}} <i class='glyphicon glyphicon-thumbs-up'></i></span></div>
</div>